In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('./data.csv')

In [3]:
data.head()

,scheme_name,Scheme Codes,expense_ratio,risk_level,returns_1yr,returns_3yr,returns_5yr
0,Aditya Birla SL Active Debt Multi-Mgr FoF-Dir ...,100033,0.27,3,4.0,6.5,6.9
1,Aditya Birla SL Arbitrage Fund,100034,0.36,1,5.6,4.8,5.5
2,Aditya Birla SL Asset Allocator FoF-Dir Growth,100037,0.53,5,2.0,18.9,9.7
3,Aditya Birla SL Balanced Advantage Fund,100038,0.61,6,4.5,18.6,9.7
4,Aditya Birla SL Banking&Financial Services-Dir...,100041,1.17,6,5.3,24.6,9.2

In [4]:
# Create a dictionary to map indices to scheme_codes
index_to_scheme_code = dict(zip(data.index, data['Scheme Codes']))

# Example: Get the scheme_code corresponding to index 0
index_0_scheme_code = index_to_scheme_code[0]
print("Scheme Code for index 0:", index_to_scheme_code)

Scheme Code for index 0: {0: 100033, 1: 100034, 2: 100037, 3: 100038, 4: 100041, 5: 100042, 6: 100043, 7: 100044, 8: 100046, 9: 100047, 10: 100048, 11: 100049, 12: 100051, 13: 100052, 14: 100053, 15: 100054, 16: 100055, 17: 100056, 18: 100057, 19: 100058, 20: 100059, 21: 100060, 22: 100061, 23: 100062, 24: 100063, 25: 100064, 26: 100065, 27: 100066, 28: 100067, 29: 100956, 30: 100970, 31: 100971, 32: 100972, 33: 101313, 34: 101314, 35: 101315, 36: 101316, 37: 101317, 38: 101318, 39: 101591, 40: 112210, 41: 112211, 42: 112212, 43: 112213, 44: 112214, 45: 112215, 46: 112216, 47: 112217, 48: 112277, 49: 112278, 50: 112322, 51: 112323, 52: 112354, 53: 112355, 54: 112369, 55: 112679, 56: 112680, 57: 112681, 58: 112682, 59: 112683, 60: 112684, 61: 112712, 62: 118484, 63: 109255, 64: 109264, 65: 109269, 66: 110606, 67: 110607, 68: 110608, 69: 111585, 70: 111589, 71: 111590, 72: 111709, 73: 111710, 74: 113036, 75: 119333, 76: 119334, 77: 119340, 78: 119354, 79: 119399, 80: 119400, 81: 119415, 82: 119416, 83: 133488, 84: 133517, 85: 133518, 86: 133520, 87: 139344, 88: 140463, 89: 142245, 90: 142246, 91: 100589, 92: 100590, 93: 100593, 94: 100596, 95: 100597, 96: 100600, 97: 100601, 98: 101361, 99: 101362, 100: 101363, 101: 101364, 102: 101365, 103: 101587, 104: 101588, 105: 101589, 106: 101922, 107: 100077, 108: 100078, 109: 100079, 110: 100080, 111: 100081, 112: 100082, 113: 100084, 114: 100085, 115: 100086, 116: 100087, 117: 100088, 118: 100089, 119: 100090, 120: 100940, 121: 100941, 122: 100943, 123: 101303, 124: 101304, 125: 101305, 126: 101306, 127: 101635, 128: 101636, 129: 101742, 130: 101743, 131: 101744, 132: 109934, 133: 109935, 134: 109936, 135: 109937, 136: 109938, 137: 109939, 138: 109940, 139: 109941, 140: 109942, 141: 109944, 142: 109945, 143: 109946, 144: 109949, 145: 109950, 146: 100470, 147: 100471, 148: 100472, 149: 100473, 150: 100481, 151: 100482, 152: 100483, 153: 100484, 154: 100485, 155: 100486, 156: 100487, 157: 100489, 158: 100490, 159: 100491, 160: 100493, 161: 100494, 162: 100495, 163: 100498, 164: 100499, 165: 100503, 166: 100504, 167: 100119, 168: 100120, 169: 100121, 170: 100122, 171: 100123, 172: 100124, 173: 100282, 174: 100283, 175: 100284, 176: 100285, 177: 100868, 178: 100869, 179: 100870, 180: 100871, 181: 100872, 182: 100873, 183: 100874, 184: 100875, 185: 100876, 186: 100877, 187: 100878, 188: 100881, 189: 100899, 190: 100900, 191: 100997, 192: 100998, 193: 101081, 194: 101082, 195: 101083, 196: 101084, 197: 101281, 198: 101282, 199: 101430, 200: 101431, 201: 101480, 202: 101481, 203: 101482, 204: 101593, 205: 101594, 206: 101597, 207: 101598, 208: 101599, 209: 101600, 210: 101685, 211: 101686, 212: 101687, 213: 101688, 214: 101691, 215: 101692, 216: 101693, 217: 101694, 218: 101696, 219: 101697, 220: 101698, 221: 101699, 222: 101700, 223: 101701, 224: 101702, 225: 102065, 226: 102066, 227: 102251, 228: 102252, 229: 102257, 230: 102258, 231: 102259, 232: 102260, 233: 102261, 234: 102262, 235: 100348, 236: 100349, 237: 100350, 238: 100351, 239: 100352, 240: 100353, 241: 100354, 242: 100355, 243: 100356, 244: 100357, 245: 100358, 246: 100359, 247: 100360, 248: 100361, 249: 100362, 250: 100363, 251: 100364, 252: 100365, 253: 100366, 254: 100367, 255: 100368, 256: 100369, 257: 100370, 258: 100371, 259: 100372, 260: 100952, 261: 100953, 262: 100954, 263: 100955, 264: 101098, 265: 101127, 266: 101143, 267: 101144, 268: 101165, 269: 101221, 270: 101228, 271: 101229, 272: 101230, 273: 101231, 274: 101349, 275: 101350, 276: 101351, 277: 101617, 278: 101618, 279: 101619, 280: 113062, 281: 113063, 282: 113096, 283: 113102, 284: 113103, 285: 113104, 286: 113249, 287: 113250, 288: 113251, 289: 113252, 290: 113253, 291: 113254, 292: 114630, 293: 114633, 294: 122612, 295: 131579, 296: 125337, 297: 115991, 298: 115992, 299: 115993, 300: 115994, 301: 115995, 302: 116424, 303: 104483, 304: 104484, 305: 104485, 306: 104486, 307: 104487, 308: 104488, 309: 104489, 310: 104490, 311: 104491, 312: 104492, 313: 104635, 314: 104636, 315: 104722, 316: 104723, 317: 104724, 318: 104725, 319: 104726, 320: 104727, 321: 104728, 322: 104729, 323: 105024, 324: 103780, 325: 101805, 326: 100220, 327: 120491, 328: 120488, 329: 100218, 330: 100233, 331: 143603, 332: 100222, 333: 107288, 334: 100254, 335: 100261, 336: 100262, 337: 100263, 338: 100264, 339: 100265, 340: 100278, 341: 100279, 342: 100280, 343: 100281, 344: 100286, 345: 100289, 346: 100290, 347: 100291, 348: 100292, 349: 100298, 350: 100299, 351: 100300, 352: 100301, 353: 100828, 354: 100829, 355: 100830, 356: 100831, 357: 100832, 358: 100833, 359: 100834, 360: 100835, 361: 100836, 362: 101372, 363: 118069, 364: 100312, 365: 100313, 366: 100314, 367: 100315, 368: 100316, 369: 100317, 370: 100318, 371: 100319, 372: 100321, 373: 100323, 374: 100325, 375: 100332, 376: 100864, 377: 100865, 378: 101184, 379: 101185, 380: 139534, 381: 139535, 382: 139536, 383: 139537, 384: 139538, 385: 139539, 386: 107578, 387: 107579, 388: 107589, 389: 107646, 390: 107647, 391: 107648, 392: 107649, 393: 107656, 394: 107657, 395: 117141, 396: 122388, 397: 122389, 398: 122390, 399: 124233, 400: 124303, 401: 124305, 402: 112408, 403: 112645, 404: 112647, 405: 112648, 406: 113142, 407: 100379, 408: 100383, 409: 100385, 410: 100386, 411: 100387, 412: 100837, 413: 100838, 414: 100851, 415: 100853, 416: 100856, 417: 100858, 418: 100859, 419: 101665, 420: 101667, 421: 101862, 422: 101864, 423: 102172, 424: 102173, 425: 102174, 426: 102431, 427: 102432, 428: 102433, 429: 102673, 430: 102675, 431: 102676, 432: 102677, 433: 102751, 434: 102752, 435: 102753, 436: 102848, 437: 102849, 438: 102851, 439: 103048, 440: 103050, 441: 103051, 442: 103052, 443: 122640, 444: 116484, 445: 116485, 446: 120084, 447: 120086, 448: 125305, 449: 125306, 450: 133836, 451: 133837, 452: 133838, 453: 133839, 454: 135598, 455: 135599, 456: 135600, 457: 135601, 458: 138254, 459: 100171, 460: 100172, 461: 100173, 462: 100174, 463: 100175, 464: 100176, 465: 100177, 466: 100630, 467: 100631, 468: 101065, 469: 101066, 470: 103490, 471: 103491, 472: 103734, 473: 103735, 474: 103736, 475: 107693, 476: 108479, 477: 100638, 478: 100639, 479: 100640, 480: 100641, 481: 100643, 482: 100644, 483: 100645, 484: 100717, 485: 100915, 486: 100917, 487: 100927, 488: 100928, 489: 100929, 490: 100934, 491: 100968, 492: 100999, 493: 101001, 494: 101002, 495: 101003, 496: 101160, 497: 101169, 498: 101206, 499: 101295, 500: 101530, 501: 101551, 502: 101929, 503: 101932, 504: 101933, 505: 101934, 506: 101935, 507: 101950, 508: 101951, 509: 101952, 510: 102030, 511: 102053, 512: 102054, 513: 102055, 514: 102056, 515: 102058, 516: 102061, 517: 102201, 518: 102202, 519: 125711, 520: 100602, 521: 100603, 522: 100604, 523: 100605, 524: 100606, 525: 100607, 526: 100608, 527: 100609, 528: 100610, 529: 100611, 530: 100612, 531: 100613, 532: 100614, 533: 100617, 534: 100618, 535: 100619, 536: 100620, 537: 100621, 538: 100622, 539: 100623, 540: 100780, 541: 100781, 542: 100782, 543: 100783, 544: 100784, 545: 100785, 546: 100786, 547: 100787, 548: 100788, 549: 100414, 550: 100415, 551: 100416, 552: 100417, 553: 100418, 554: 100474, 555: 100475, 556: 101000, 557: 101042, 558: 101049, 559: 101186, 560: 101222, 561: 101224, 562: 101419, 563: 101471, 564: 101489, 565: 101490, 566: 101491, 567: 101547, 568: 101548, 569: 101605, 570: 101606, 571: 101609, 572: 101659, 573: 101672, 574: 100476, 575: 100477, 576: 100480, 577: 101094, 578: 101095, 579: 101113, 580: 101114, 581: 101209, 582: 100496, 583: 100497, 584: 115270, 585: 115290, 586: 115398, 587: 115399, 588: 115400, 589: 115401, 590: 115402, 591: 100381, 592: 100382, 593: 100646, 594: 100648, 595: 100650, 596: 100651, 597: 100656, 598: 100657, 599: 100663, 600: 100664, 601: 100668, 602: 100669, 603: 100678, 604: 100682, 605: 100684, 606: 100685, 607: 100711, 608: 100712, 609: 100723, 610: 100724, 611: 100725, 612: 100739, 613: 100740, 614: 100741, 615: 100742, 616: 100748, 617: 100749, 618: 100750, 619: 100751, 620: 100800, 621: 100801, 622: 100802, 623: 100803, 624: 145963}

In [5]:
columns_to_drop = ['scheme_name', 'Scheme Codes', 'returns_3yr', 'returns_5yr']
first_year_returns_data = data.drop(columns=columns_to_drop)

In [6]:
columns_to_drop = ['scheme_name', 'Scheme Codes', 'returns_1yr', 'returns_5yr']
third_year_returns_data = data.drop(columns=columns_to_drop)

In [7]:
columns_to_drop = ['scheme_name', 'Scheme Codes', 'returns_1yr', 'returns_3yr']
fifth_year_returns_data = data.drop(columns=columns_to_drop)

In [8]:
from sklearn.preprocessing import MinMaxScaler

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the data and transform the data
first_year_returns_data_normalized = scaler.fit_transform(first_year_returns_data)

# Convert the scaled data back to a DataFrame
first_year_returns_data_normalized = pd.DataFrame(first_year_returns_data_normalized, columns=first_year_returns_data.columns)
first_year=first_year_returns_data_normalized.copy()

In [9]:
# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the data and transform the data
third_year_returns_data_normalized = scaler.fit_transform(third_year_returns_data)

# Convert the scaled data back to a DataFrame
third_year_returns_data_normalized = pd.DataFrame(third_year_returns_data_normalized, columns=third_year_returns_data.columns)
third_year=third_year_returns_data_normalized.copy()

In [10]:
# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the data and transform the data
fifth_year_returns_data_normalized = scaler.fit_transform(fifth_year_returns_data)

# Convert the scaled data back to a DataFrame
fifth_year_returns_data_normalized = pd.DataFrame(fifth_year_returns_data_normalized, columns=fifth_year_returns_data.columns)
fifth_year=fifth_year_returns_data_normalized.copy()

In [11]:
first_year_returns_data_normalized.head()

   expense_ratio  risk_level  returns_1yr
0       0.083004         0.4     0.157475
1       0.118577         0.0     0.168106
2       0.185771         0.8     0.144186
3       0.217391         1.0     0.160797
4       0.438735         1.0     0.166113

In [12]:
third_year_returns_data_normalized.head()

   expense_ratio  risk_level  returns_3yr
0       0.083004         0.4     0.046990
1       0.118577         0.0     0.022026
2       0.185771         0.8     0.229075
3       0.217391         1.0     0.224670
4       0.438735         1.0     0.312775

In [13]:
fifth_year_returns_data_normalized.head()

   expense_ratio  risk_level  returns_5yr
0       0.083004         0.4     0.402930
1       0.118577         0.0     0.351648
2       0.185771         0.8     0.505495
3       0.217391         1.0     0.505495
4       0.438735         1.0     0.487179

In [14]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

# Calculate cosine similarity
first_year_returns_similarity = cosine_similarity(first_year_returns_data_normalized)

# Convert cosine similarity array to DataFrame for readability
first_year_returns_similarity = pd.DataFrame(first_year_returns_similarity, columns=first_year_returns_data_normalized.index, index=first_year_returns_data_normalized.index)

print("Cosine Similarity Matrix:")
print(first_year_returns_similarity)

Cosine Similarity Matrix:
          0         1         2         3         4         5         6    \
0    1.000000  0.403193  0.980960  0.977556  0.956512  0.996265  0.941039
1    0.403193  1.000000  0.269717  0.247804  0.351837  0.450762  0.688933
2    0.980960  0.269717  1.000000  0.999742  0.983074  0.979209  0.875637
3    0.977556  0.247804  0.999742  1.000000  0.980639  0.974612  0.864842
4    0.956512  0.351837  0.983074  0.980639  1.000000  0.970541  0.885528
..        ...       ...       ...       ...       ...       ...       ...
620  0.935211  0.700926  0.870371  0.859244  0.884870  0.951493  0.999680
621  0.989625  0.485886  0.972527  0.967024  0.974283  0.998318  0.962606
622  0.932507  0.434794  0.954671  0.950043  0.992407  0.956524  0.896699
623  0.952279  0.333562  0.982903  0.980889  0.999768  0.966089  0.875342
624  0.405683  0.980885  0.248531  0.227108  0.298821  0.438914  0.685241

          7         8         9    ...       615       616       617  \
0    0.980452  0.938664  0.909251  ...  0.364069  0.899805  0.954487
1    0.440127  0.203953  0.430482  ...  0.830593  0.504737  0.398260
2    0.981195  0.986421  0.938637  ...  0.178147  0.917293  0.975164
3    0.976753  0.987497  0.933963  ...  0.160151  0.910736  0.971577
4    0.991143  0.988021  0.985862  ...  0.159755  0.972932  0.998629
..        ...       ...       ...  ...       ...       ...       ...
620  0.936506  0.813748  0.879880  ...  0.598371  0.901205  0.901346
621  0.995480  0.941806  0.950699  ...  0.371271  0.949173  0.978102
622  0.985151  0.965159  0.998204  ...  0.189937  0.993967  0.996875
623  0.988180  0.990626  0.985213  ...  0.138637  0.970751  0.997564
624  0.404469  0.154668  0.351492  ...  0.923078  0.424347  0.342443

          618       619       620       621       622       623       624
0    0.998589  0.975148  0.935211  0.989625  0.932507  0.952279  0.405683
1    0.439278  0.369666  0.700926  0.485886  0.434794  0.333562  0.980885
2    0.978852  0.990301  0.870371  0.972527  0.954671  0.982903  0.248531
3    0.974553  0.987552  0.859244  0.967024  0.950043  0.980889  0.227108
4    0.963769  0.997363  0.884870  0.974283  0.992407  0.999768  0.298821
..        ...       ...       ...       ...       ...       ...       ...
620  0.948477  0.905471  1.000000  0.960375  0.899023  0.874633  0.693184
621  0.995790  0.986324  0.960375  1.000000  0.967260  0.969549  0.465311
622  0.946154  0.985888  0.899023  0.967260  1.000000  0.991162  0.366662
623  0.959196  0.996094  0.874633  0.969549  0.991162  1.000000  0.278820
624  0.434111  0.329907  0.693184  0.465311  0.366662  0.278820  1.000000

[625 rows x 625 columns]

In [15]:
# Calculate cosine similarity
third_year_returns_similarity = cosine_similarity(third_year_returns_data_normalized)

# Convert cosine similarity array to DataFrame for readability
third_year_returns_similarity = pd.DataFrame(third_year_returns_similarity, columns=third_year_returns_data_normalized.index, index=third_year_returns_data_normalized.index)

print("Cosine Similarity Matrix:")
print(third_year_returns_similarity)

Cosine Similarity Matrix:
          0         1         2         3         4         5         6    \
0    1.000000  0.219325  0.987359  0.994801  0.965760  0.995742  0.960494
1    0.219325  1.000000  0.263281  0.243161  0.430029  0.308085  0.466807
2    0.987359  0.263281  1.000000  0.998345  0.984128  0.986525  0.974877
3    0.994801  0.243161  0.998345  1.000000  0.979423  0.992245  0.971322
4    0.965760  0.430029  0.984128  0.979423  1.000000  0.981311  0.998464
..        ...       ...       ...       ...       ...       ...       ...
620  0.951410  0.493864  0.968010  0.963489  0.996940  0.973571  0.999505
621  0.988033  0.361521  0.976319  0.982564  0.981891  0.997758  0.984100
622  0.943371  0.527971  0.953543  0.951024  0.990185  0.969320  0.996370
623  0.960784  0.429122  0.984088  0.977652  0.999469  0.976154  0.996707
624  0.142591  0.324605  0.297670  0.242501  0.328929  0.163182  0.302958

          7         8         9    ...       615       616       617  \
0    0.982402  0.931718  0.911783  ...  0.186880  0.904001  0.963693
1    0.397121  0.353015  0.571582  ...  0.569063  0.614734  0.461877
2    0.976659  0.977049  0.941702  ...  0.334311  0.916641  0.974877
3    0.980598  0.963271  0.931930  ...  0.280577  0.912592  0.972477
4    0.988457  0.977238  0.985940  ...  0.409320  0.971672  0.997755
..        ...       ...       ...  ...       ...       ...       ...
620  0.987656  0.962903  0.993682  ...  0.415382  0.987173  0.999015
621  0.998905  0.929368  0.950971  ...  0.230620  0.955538  0.987203
622  0.987418  0.942925  0.991929  ...  0.388793  0.994284  0.996689
623  0.983126  0.983245  0.986419  ...  0.434889  0.968026  0.995367
624  0.182071  0.489550  0.389340  ...  0.962487  0.279855  0.283693

          618       619       620       621       622       623       624
0    0.996159  0.951519  0.951410  0.988033  0.943371  0.960784  0.142591
1    0.282368  0.394813  0.493864  0.361521  0.527971  0.429122  0.324605
2    0.995485  0.985084  0.968010  0.976319  0.953543  0.984088  0.297670
3    0.998386  0.975240  0.963489  0.982564  0.951024  0.977652  0.242501
4    0.984338  0.993328  0.996940  0.981891  0.990185  0.999469  0.328929
..        ...       ...       ...       ...       ...       ...       ...
620  0.972524  0.984407  1.000000  0.979356  0.997786  0.995377  0.314839
621  0.991522  0.958335  0.979356  1.000000  0.979171  0.975653  0.145983
622  0.963734  0.970531  0.997786  0.979171  1.000000  0.986903  0.273000
623  0.981265  0.996397  0.995377  0.975653  0.986903  1.000000  0.358639
624  0.216544  0.420569  0.314839  0.145983  0.273000  0.358639  1.000000

[625 rows x 625 columns]

In [16]:
# Calculate cosine similarity
fifth_year_returns_similarity = cosine_similarity(fifth_year_returns_data_normalized)

# Convert cosine similarity array to DataFrame for readability
fifth_year_returns_similarity = pd.DataFrame(fifth_year_returns_similarity, columns=fifth_year_returns_data_normalized.index, index=fifth_year_returns_data_normalized.index)

print("Cosine Similarity Matrix:")
print(fifth_year_returns_similarity)

Cosine Similarity Matrix:
          0         1         2         3         4         5         6    \
0    1.000000  0.711628  0.974228  0.949299  0.922164  0.997821  0.943053
1    0.711628  1.000000  0.558236  0.480515  0.503303  0.735662  0.903641
2    0.974228  0.558236  1.000000  0.995609  0.977977  0.971598  0.851212
3    0.949299  0.480515  0.995609  1.000000  0.983011  0.945238  0.798466
4    0.922164  0.503303  0.977977  0.983011  1.000000  0.929818  0.787005
..        ...       ...       ...       ...       ...       ...       ...
620  0.966535  0.863856  0.899947  0.856082  0.854338  0.976579  0.992608
621  0.990320  0.695541  0.983622  0.964132  0.960269  0.995288  0.925012
622  0.926406  0.594149  0.963414  0.959005  0.991155  0.941090  0.830884
623  0.948589  0.566842  0.986380  0.984044  0.996690  0.956126  0.834432
624  0.713070  0.974496  0.540622  0.459516  0.441661  0.723476  0.899880

          7         8         9    ...       615       616       617  \
0    0.967112  0.995159  0.885419  ...  0.703958  0.903332  0.924932
1    0.612485  0.699263  0.536733  ...  0.951467  0.625704  0.534754
2    0.990099  0.983454  0.940707  ...  0.526512  0.935279  0.974654
3    0.981994  0.962606  0.943127  ...  0.445202  0.927483  0.976549
4    0.988961  0.951624  0.987833  ...  0.411943  0.975252  0.998965
..        ...       ...       ...  ...       ...       ...       ...
620  0.920401  0.964033  0.846982  ...  0.824289  0.890538  0.868482
621  0.990996  0.999159  0.940135  ...  0.646552  0.954084  0.964858
622  0.990003  0.958665  0.995116  ...  0.481285  0.995398  0.996162
623  0.997697  0.972901  0.983522  ...  0.484572  0.979063  0.997650
624  0.566654  0.679477  0.443855  ...  0.996261  0.532572  0.467668

          618       619       620       621       622       623       624
0    0.995982  0.881069  0.966535  0.990320  0.926406  0.948589  0.713070
1    0.672765  0.393531  0.863856  0.695541  0.594149  0.566842  0.974496
2    0.988832  0.961963  0.899947  0.983622  0.963414  0.986380  0.540622
3    0.970546  0.978306  0.856082  0.964132  0.959005  0.984044  0.459516
4    0.953096  0.992445  0.854338  0.960269  0.991155  0.996690  0.441661
..        ...       ...       ...       ...       ...       ...       ...
620  0.953848  0.786824  1.000000  0.961496  0.892249  0.893458  0.843544
621  0.997160  0.923402  0.961496  1.000000  0.969081  0.979633  0.666695
622  0.954235  0.969859  0.892249  0.969081  1.000000  0.993963  0.517725
623  0.972977  0.980022  0.893458  0.979633  0.993963  1.000000  0.512456
624  0.659784  0.332404  0.843544  0.666695  0.517725  0.512456  1.000000

[625 rows x 625 columns]

In [17]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Create a KMeans clustering object
kmeans = KMeans(n_clusters=10)  # You can adjust the number of clusters as needed

# Fit KMeans to the vector representations
kmeans.fit(first_year_returns_data_normalized)

# Get the cluster labels
cluster_labels = kmeans.labels_

silhouette_avg = silhouette_score(first_year_returns_data_normalized, cluster_labels)

first_year_returns_data_normalized['cluster'] = cluster_labels
print("The average silhouette_score is :", silhouette_avg)

C:\Users\SOUVIK GHOSH\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

The average silhouette_score is : 0.4964679156696875

In [26]:
first_year_returns_data_normalized.to_csv('first_year_returns_data_normalized.csv', index=False)

In [18]:
first_year_returns_data_normalized.head()

   expense_ratio  risk_level  returns_1yr  cluster
0       0.083004         0.4     0.157475        0
1       0.118577         0.0     0.168106        9
2       0.185771         0.8     0.144186        4
3       0.217391         1.0     0.160797        8
4       0.438735         1.0     0.166113        1

In [19]:
# Create a KMeans clustering object
kmeans = KMeans(n_clusters=10)  # You can adjust the number of clusters as needed

# Fit KMeans to the vector representations
kmeans.fit(third_year_returns_data_normalized)

# Get the cluster labels
cluster_labels = kmeans.labels_

third_year_returns_data_normalized['cluster'] = cluster_labels

C:\Users\SOUVIK GHOSH\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [27]:
third_year_returns_data_normalized.to_csv('third_year_returns_data_normalized.csv', index=False)

In [20]:
# Create a KMeans clustering object
kmeans = KMeans(n_clusters=10)  # You can adjust the number of clusters as needed

# Fit KMeans to the vector representations
kmeans.fit(fifth_year_returns_data_normalized)

# Get the cluster labels
cluster_labels = kmeans.labels_

fifth_year_returns_data_normalized['cluster'] = cluster_labels

C:\Users\SOUVIK GHOSH\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [28]:
fifth_year_returns_data_normalized.to_csv('fifth_year_returns_data_normalized.csv', index=False)

In [21]:
expense_ratio = float(input("Enter the expense ratio: "))
risk_level = float(input("Enter the risk level: "))
username = input("Enter the username: ")
returns = int(input("Enter 1 for 1st year returns, Enter 3 for 3rd year returns, Enter 5 for Fifth year returns: "))

if returns == 1:
    # Copy data1 to a new DataFrame
    returns_data = first_year.copy()
    user_data = {
    'expense_ratio': [expense_ratio],
    'risk_level': [risk_level],
    'returns_1yr': [0.75]
}
elif returns == 3:
    returns_data = third_year.copy()
    user_data = {
    'expense_ratio': [expense_ratio],
    'risk_level': [risk_level],
    'returns_3yr': [0.75]
}
elif returns == 5:
    returns_data = fifth_year.copy()
    user_data = {
    'expense_ratio': [expense_ratio],
    'risk_level': [risk_level],
    'returns_5yr': [0.75]
}
else:
    print("Invalid value. Please enter 1 or 3 or 5.")

# Convert the dictionary to a DataFrame
user_df = pd.DataFrame(user_data)

# Append the user input data to the original DataFrame
returns_data = pd.concat([returns_data, user_df], ignore_index=True)

# Now your data DataFrame contains the user input data as a new row
print("Updated DataFrame:")
print(returns_data)

Enter the expense ratio:  0.9
Enter the risk level:  0.4
Enter the username:  sg
Enter 1 for 1st year returns, Enter 3 for 3rd year returns, Enter 5 for Fifth year returns:  1

Updated DataFrame:
     expense_ratio  risk_level  returns_1yr
0         0.083004         0.4     0.157475
1         0.118577         0.0     0.168106
2         0.185771         0.8     0.144186
3         0.217391         1.0     0.160797
4         0.438735         1.0     0.166113
..             ...         ...          ...
621       0.150198         0.4     0.166777
622       0.355731         0.6     0.126246
623       0.434783         1.0     0.142193
624       0.063241         0.0     0.142193
625       0.900000         0.4     0.750000

[626 rows x 3 columns]

In [22]:
# Calculate cosine similarity
returns_data_similarity = cosine_similarity(returns_data)

# Convert cosine similarity array to DataFrame for readability
returns_data_similarity = pd.DataFrame(returns_data_similarity, columns=returns_data.index, index=returns_data.index)

print("Cosine Similarity Matrix:")
print(returns_data_similarity)

Cosine Similarity Matrix:
          0         1         2         3         4         5         6    \
0    1.000000  0.403193  0.980960  0.977556  0.956512  0.996265  0.941039
1    0.403193  1.000000  0.269717  0.247804  0.351837  0.450762  0.688933
2    0.980960  0.269717  1.000000  0.999742  0.983074  0.979209  0.875637
3    0.977556  0.247804  0.999742  1.000000  0.980639  0.974612  0.864842
4    0.956512  0.351837  0.983074  0.980639  1.000000  0.970541  0.885528
..        ...       ...       ...       ...       ...       ...       ...
621  0.989625  0.485886  0.972527  0.967024  0.974283  0.998318  0.962606
622  0.932507  0.434794  0.954671  0.950043  0.992407  0.956524  0.896699
623  0.952279  0.333562  0.982903  0.980889  0.999768  0.966089  0.875342
624  0.405683  0.980885  0.248531  0.227108  0.298821  0.438914  0.685241
625  0.650943  0.914128  0.576731  0.558523  0.672406  0.704499  0.851521

          7         8         9    ...       616       617       618  \
0    0.980452  0.938664  0.909251  ...  0.899805  0.954487  0.998589
1    0.440127  0.203953  0.430482  ...  0.504737  0.398260  0.439278
2    0.981195  0.986421  0.938637  ...  0.917293  0.975164  0.978852
3    0.976753  0.987497  0.933963  ...  0.910736  0.971577  0.974553
4    0.991143  0.988021  0.985862  ...  0.972932  0.998629  0.963769
..        ...       ...       ...  ...       ...       ...       ...
621  0.995480  0.941806  0.950699  ...  0.949173  0.978102  0.995790
622  0.985151  0.965159  0.998204  ...  0.993967  0.996875  0.946154
623  0.988180  0.990626  0.985213  ...  0.970751  0.997564  0.959196
624  0.404469  0.154668  0.351492  ...  0.424347  0.342443  0.434111
625  0.723207  0.550773  0.749493  ...  0.803417  0.710097  0.687714

          619       620       621       622       623       624       625
0    0.975148  0.935211  0.989625  0.932507  0.952279  0.405683  0.650943
1    0.369666  0.700926  0.485886  0.434794  0.333562  0.980885  0.914128
2    0.990301  0.870371  0.972527  0.954671  0.982903  0.248531  0.576731
3    0.987552  0.859244  0.967024  0.950043  0.980889  0.227108  0.558523
4    0.997363  0.884870  0.974283  0.992407  0.999768  0.298821  0.672406
..        ...       ...       ...       ...       ...       ...       ...
621  0.986324  0.960375  1.000000  0.967260  0.969549  0.465311  0.740155
622  0.985888  0.899023  0.967260  1.000000  0.991162  0.366662  0.746236
623  0.996094  0.874633  0.969549  0.991162  1.000000  0.278820  0.659618
624  0.329907  0.693184  0.465311  0.366662  0.278820  1.000000  0.849004
625  0.674344  0.863884  0.740155  0.746236  0.659618  0.849004  1.000000

[626 rows x 626 columns]

In [23]:
user_similarity=returns_data_similarity[625]

In [24]:
print(user_similarity)

0      0.650943
1      0.914128
2      0.576731
3      0.558523
4      0.672406
         ...
621    0.740155
622    0.746236
623    0.659618
624    0.849004
625    1.000000
Name: 625, Length: 626, dtype: float64

In [25]:
import numpy as np

# Exclude the last element of the array
array_without_last = user_similarity[:-1]

# Get the indices of the top 10 largest values
top_10_indices = np.argpartition(-array_without_last, kth=10)[:10]

# Print the indices of the top 10 largest values
print("Indices of the top 10 largest values:")
print(top_10_indices)

Indices of the top 10 largest values:
[416  71 371 325 554 251 421 406 338 423]